:root {
	/* Background */
	--bg: var(--base00);
	--off-bg: var(--base01);
	--inner-bg: var(--base02);

	/* Text */
	--fg: var(--base03);
	--off-fg: var(--base04);
	--muted: var(--base05);
	--link: var(--base06);
	--hover: var(--base07);
	--highlight: var(--base08);

	/* Logo */
	--logo: var(--base09);
}

