/* Main menu */
nav > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 0 0.25rem 0;
    gap: 0rem 1.5rem;
}

.page__nav > ul > li {
    padding-top: 0.25rem;
    text-transform: lowercase;
}

.home-button::marker {
    content: none;
}

