#about {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#about::before {
    content: none;
}

.homepage__body {
    min-height: 320px;
    margin-left: 25px;
}

.homepage__body p {
    margin-right: 25px;
}

.drawing-laurence {
    max-width: 200px;
}
