.home-button {
    padding: 0;
    margin: 0;
    /* font-weight: bold; */
    font-size: 1.1rem;
    color: var(--bg);
}

.home-button:before {
    content: none;
}

.home-button__inner {
    display: block;
    background: var(--logo);
    opacity: 0.90;
    padding: 0.25rem;
}

a.home-button__inner:link, a.home-button__inner:visited {
    color: inherit;
    text-decoration: inherit;
}

a.home-button__inner:hover,
a.home-button__inner:active {
    opacity: 1;
}

.home-button__inner:before {
    content: "[ ";
    color: var(--bg);
}

.home-button__inner:after {
    content: " ]";
    color: var(--bg);
}

