/* 1rem = 16px by default */

body {
    display: grid;
    grid-template-areas: 
      "header" 
      "body" 
      "aside" 
      "footer";
    grid-template-columns: minmax(0, 1fr); /* https://css-tricks.com/preventing-a-grid-blowout/ */
    grid-row-gap: 1.5rem;
}

@media (min-width: 45rem) {
    body {
        max-width: 64rem;
        margin: 1rem auto;
        grid-template-areas:
          "header  header"
          "body    aside"
          "footer  aside";
        grid-template-columns: minmax(0, 1fr) 15rem;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }
    .my-links {
        margin-left: 0;
    }
}

header, main, .my-links, footer {
    margin-left: 20px;
    margin-right: 20px;
}

/* Header */
.page__header {
    grid-area: header;
    display: flex;
}

.page__logo {
    flex-shrink: 0;
}

.page__nav {
    flex-grow: 1;
}


/* Body + aside */
main {
    grid-area: body;
    background-color: var(--off-bg);
    overflow-wrap: break-word;
}


.my-links {
    grid-area: aside;
    color: var(--off-fg);
    margin-top: 20px;
}

/* Footer */
footer {
    grid-area: footer;
}
