@import 'colours.css';
@import 'typography.css';
@import 'layout.css';
@import 'header.css';
@import 'home-button.css';
@import 'my-links.css';
@import 'home.css';

body {
    background-color: var(--bg);
    color: var(--fg);
}
