/* About/bio section */
.my-links h2 {
    display: inline;
    vertical-align: top;
}

.my-links h2::before {
    content: none;
}

/* Social media links */
.my-links ul {
    padding: 0;
}

.my-links li {
    display: inline-block;
}

.my-links li::marker {
    content: none;
}
