.page__logo {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    color: var(--bg);
}

.page__logo:before {
    content: none;
}

.page__logo-inner {
    display: block;
    /* background: var(--logo); */
    background: green;
    opacity: 0.90;
    padding: 0.25rem;
}

a.page__logo-inner:link, a.page__logo-inner:visited {
    color: inherit;
    text-decoration: inherit;
}

a.page__logo-inner:hover,
a.page__logo-inner:active {
    opacity: 1;
}

.page__logo-inner:before {
    content: "[ ";
    color: var(--bg);
}

.page__logo-inner:after {
    content: " ]";
    color: var(--bg);
}
